<a href="https://colab.research.google.com/github/Ryan-RE-Wang/BCI_project/blob/main/Download_files.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Set up

In [ ]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
from random import seed
from collections import Counter
from datetime import datetime
import time
import os, sys

from sklearn.model_selection import StratifiedKFold
from sklearn.ensemble import RandomForestClassifier
from sklearn.metrics import confusion_matrix, precision_recall_fscore_support, cohen_kappa_score, accuracy_score

In [ ]:
from google.colab import drive
drive.mount('/content/drive', force_remount=True)

Mounted at /content/drive

In [ ]:
sys.path.append('/content/drive/Shareddrives/BCI/sleep_study/sleep_study')
import sleep_study as ss

# Useful Functions

In [ ]:
import subprocess

def runcmd(cmd, verbose = False, *args, **kwargs):

    process = subprocess.Popen(
        cmd,
        stdout = subprocess.PIPE,
        stderr = subprocess.PIPE,
        text = True,
        shell = True
    )
    std_out, std_err = process.communicate()
    if verbose:
        print(std_out.strip(), std_err)
    pass

# Download file

In [ ]:
ss.init('/content/drive/Shareddrives/BCI/BCI_Data')
print('total number of sleep study files available:', len(ss.data.study_list))

age information stored in /content/age_file.csv
total number of sleep study files available: 0

In [ ]:
age_groups = list(zip(range(0, 18), range(1, 19))) + [(18, 100)]

tmp = np.load('/content/drive/Shareddrives/BCI/sleep_study/sleep_study/examples/wavelet/study_lists.npz', allow_pickle=True) 
study_lists = tmp["study_lists"] # filenames that are in each age group

In [ ]:
import pandas as pd

df = pd.read_csv('/content/drive/Shareddrives/BCI/BCI_Data/Health_Data/SLEEP_STUDY.csv')
df.head()

,STUDY_PAT_ID,SLEEP_STUDY_ID,SLEEP_STUDY_START_DATETIME,SLEEP_STUDY_DURATION_DATETIME,AGE_AT_SLEEP_STUDY_DAYS
0,1,4789,2019-04-02 20:22:49,9:35:32,3338
1,7,12595,2018-12-05 18:20:31,11:22:32,775
2,10,22339,2018-01-07 18:41:16,11:14:13,4782
3,16,24241,2019-02-05 20:17:31,10:03:36,4408
4,22,23233,2019-07-29 18:50:11,11:15:36,1730

In [ ]:
df_diagnosis = pd.read_csv('/content/drive/Shareddrives/BCI/DIAGNOSIS.csv', index_col=0)
df_diagnosis.head()

,STUDY_DX_ID,STUDY_ENC_ID,STUDY_PAT_ID,DX_START_DATETIME,DX_END_DATETIME,DX_SOURCE_TYPE,DX_ENC_TYPE,DX_CODE_TYPE,DX_CODE,DX_NAME,DX_ALT_CODE,CLASS_OF_PROBLEM,CHRONIC_YN,PROV_ID
0,10001,55902925,13210,2018-09-07 00:00:00,2018-09-07 00:00:00,Primary Encounter Dx,Encounter Dx,ICD10,R56.9,Seizure,780.39,NaN,NaN,3001267.0
1,10017,55772269,12547,2014-11-01 00:00:00,2014-11-01 00:00:00,Secondary Encounter Dx,Encounter Dx,ICD9,790.7,Positive blood culture,R78.81,NaN,NaN,3001267.0
2,10018,55772269,12547,2014-11-01 19:58:00,2014-11-01 23:08:00,Admit Dx,Admit Dx,ICD9,796.4,Other abnormal clinical finding,R68.89,NaN,NaN,3001267.0
3,10019,55772269,12547,2014-11-01 19:58:00,2014-11-01 23:08:00,Final Dx,Final Dx,ICD9,796.4,Other abnormal clinical finding,R68.89,NaN,NaN,3001267.0
4,10020,56359534,7138,2019-05-18 00:00:00,2019-05-18 00:00:00,Secondary Encounter Dx,Encounter Dx,ICD10,J06.9,Viral URI,465.9,NaN,NaN,3001267.0

In [ ]:
# this can be parallelized to speed up the process
# for i, study_list in enumerate(study_lists):
for j, name in enumerate(study_lists[1]):
    if (j < 5):
        continue

    cmd = 'wget -r -N -c -np --user ryanwang --password ryan57231211 -A "{k}.*" https://physionet.org/files/nch-sleep/3.1.0/Sleep_Data/ -P /content/'.format(k=name)
    runcmd(cmd)

    a = df.loc[(df['STUDY_PAT_ID']==int(name.split('_')[0])) & (df['SLEEP_STUDY_ID']==int(name.split('_')[1])), 'SLEEP_STUDY_START_DATETIME'].values[0]

    features, _ = ss.data.get_demo_wavelet_features_and_labels(name)
    features = np.array(features)
    labels =  np.unique(df_diagnosis.loc[(df_diagnosis['STUDY_PAT_ID']==int(name.split('_')[0])) & (df_diagnosis['DX_START_DATETIME']<=a) & (df_diagnosis['DX_END_DATETIME']>=a), 'DX_CODE'].values)

    cmd = 'rm -r /content/physionet.org/'
    runcmd(cmd)

    print( )
    print(features.shape, labels.shape)
    
    fn = '/content/drive/Shareddrives/BCI/BCI_Data/Sleep_Data/wavelet_features' + name
    
    np.savez(fn, labels=labels, features=features)
    print('features from', name, 'i:{}, j:{}'.format(i, j))
    print(' ')

(850, 7, 12) (1,)
features from 541_24154 i:1, j:5


(994, 7, 12) (3,)
features from 556_6685 i:1, j:6


(891, 7, 12) (1,)
features from 646_23959 i:1, j:7


(1049, 7, 12) (2,)
features from 670_4933 i:1, j:8


(1015, 7, 12) (2,)
features from 889_22 i:1, j:9


(921, 7, 12) (1,)
features from 997_17593 i:1, j:10


(1072, 7, 12) (4,)
features from 1093_1408 i:1, j:11


(1029, 7, 12) (1,)
features from 1105_6529 i:1, j:12


(924, 7, 12) (6,)
features from 1216_23932 i:1, j:13


(831, 7, 12) (1,)
features from 1360_5413 i:1, j:14


(939, 7, 12) (1,)
features from 1360_6232 i:1, j:15


(975, 7, 12) (1,)
features from 1393_19294 i:1, j:16


(840, 7, 12) (1,)
features from 1468_8299 i:1, j:17


(884, 7, 12) (1,)
features from 1483_7963 i:1, j:18


(1061, 7, 12) (1,)
features from 1555_406 i:1, j:19


(1068, 7, 12) (2,)
features from 1630_25783 i:1, j:20


(888, 7, 12) (2,)
features from 1714_5065 i:1, j:21


(957, 7, 12) (3,)
features from 1945_25306 i:1, j:22


(978, 7, 12) (1,)
features from 2155_8443 i:1, j:23


(1094, 7, 12) (3,)
features from 2155_9226 i:1, j:24


(1136, 7, 12) (2,)
features from 2248_1189 i:1, j:25


(957, 7, 12) (4,)
features from 2248_4723 i:1, j:26


(1071, 7, 12) (3,)
features from 2266_14353 i:1, j:27


(862, 7, 12) (1,)
features from 2404_12244 i:1, j:28


(960, 7, 12) (1,)
features from 2455_3529 i:1, j:29


(1156, 7, 12) (1,)
features from 2800_5077 i:1, j:30


(1076, 7, 12) (8,)
features from 2875_4603 i:1, j:31


(911, 7, 12) (1,)
features from 2884_9004 i:1, j:32


(1050, 7, 12) (1,)
features from 2977_12037 i:1, j:33


(1070, 7, 12) (1,)
features from 3121_4108 i:1, j:34


(913, 7, 12) (1,)
features from 3688_2800 i:1, j:35


(984, 7, 12) (1,)
features from 3808_18241 i:1, j:36


(893, 7, 12) (9,)
features from 3844_22312 i:1, j:37


(1060, 7, 12) (1,)
features from 4105_1045 i:1, j:38


(1013, 7, 12) (5,)
features from 4147_24535 i:1, j:39


(884, 7, 12) (3,)
features from 4183_10507 i:1, j:40


(958, 7, 12) (6,)
features from 4210_26191 i:1, j:41


(1107, 7, 12) (1,)
features from 4228_6760 i:1, j:42


(1110, 7, 12) (1,)
features from 4507_7294 i:1, j:43


(845, 7, 12) (5,)
features from 4675_12019 i:1, j:44


(1252, 7, 12) (7,)
features from 4678_7468 i:1, j:45


(1021, 7, 12) (1,)
features from 4717_4033 i:1, j:46


(1034, 7, 12) (1,)
features from 4849_8353 i:1, j:47


(930, 7, 12) (1,)
features from 5005_1441 i:1, j:48


(837, 7, 12) (3,)
features from 5098_15178 i:1, j:49


(933, 7, 12) (5,)
features from 5098_19123 i:1, j:50


(1001, 7, 12) (2,)
features from 5209_16609 i:1, j:51


(893, 7, 12) (2,)
features from 5398_15376 i:1, j:52


(937, 7, 12) (1,)
features from 5461_16423 i:1, j:53


(860, 7, 12) (1,)
features from 5551_463 i:1, j:54


(915, 7, 12) (1,)
features from 5665_12874 i:1, j:55


(880, 7, 12) (0,)
features from 5674_5209 i:1, j:56


(957, 7, 12) (5,)
features from 5680_19354 i:1, j:57


(849, 7, 12) (3,)
features from 5692_865 i:1, j:58


(1001, 7, 12) (2,)
features from 5944_13636 i:1, j:59


(934, 7, 12) (4,)
features from 5950_18079 i:1, j:60


(935, 7, 12) (3,)
features from 6067_21610 i:1, j:61


(958, 7, 12) (4,)
features from 6364_18817 i:1, j:62


(917, 7, 12) (4,)
features from 6388_13714 i:1, j:63


(933, 7, 12) (2,)
features from 6484_9406 i:1, j:64


(831, 7, 12) (4,)
features from 6559_14521 i:1, j:65


(993, 7, 12) (4,)
features from 6583_13285 i:1, j:66


(870, 7, 12) (2,)
features from 6601_13297 i:1, j:67


(853, 7, 12) (5,)
features from 6712_19381 i:1, j:68


(1098, 7, 12) (2,)
features from 6748_11014 i:1, j:69


(794, 7, 12) (3,)
features from 7003_9922 i:1, j:70


(1012, 7, 12) (2,)
features from 7033_9292 i:1, j:71


(1139, 7, 12) (2,)
features from 7069_1789 i:1, j:72


(1055, 7, 12) (2,)
features from 7405_1498 i:1, j:73


(1013, 7, 12) (1,)
features from 7417_6481 i:1, j:74


(1086, 7, 12) (5,)
features from 7576_16669 i:1, j:75


(973, 7, 12) (1,)
features from 7633_23323 i:1, j:76


(990, 7, 12) (1,)
features from 7699_1156 i:1, j:77


(1004, 7, 12) (3,)
features from 7771_21574 i:1, j:78


(1015, 7, 12) (1,)
features from 7825_15739 i:1, j:79


(1036, 7, 12) (1,)
features from 7888_23698 i:1, j:80


(872, 7, 12) (1,)
features from 7888_4660 i:1, j:81


(1031, 7, 12) (1,)
features from 7966_15118 i:1, j:82


(943, 7, 12) (4,)
features from 8116_4474 i:1, j:83


(1121, 7, 12) (5,)
features from 8707_23248 i:1, j:84


(861, 7, 12) (4,)
features from 8797_16348 i:1, j:85


(1005, 7, 12) (6,)
features from 9004_2836 i:1, j:86


(831, 7, 12) (3,)
features from 9403_24481 i:1, j:87


(831, 7, 12) (2,)
features from 9481_10345 i:1, j:88


(1069, 7, 12) (1,)
features from 9490_7693 i:1, j:89


(840, 7, 12) (1,)
features from 9631_21955 i:1, j:90


(956, 7, 12) (2,)
features from 9649_18808 i:1, j:91


(933, 7, 12) (10,)
features from 9673_24916 i:1, j:92


(962, 7, 12) (1,)
features from 9730_13141 i:1, j:93


(1087, 7, 12) (4,)
features from 9745_25831 i:1, j:94


(857, 7, 12) (3,)
features from 9805_23023 i:1, j:95


(1033, 7, 12) (3,)
features from 9838_26167 i:1, j:96


(1042, 7, 12) (2,)
features from 9874_22975 i:1, j:97


(1038, 7, 12) (1,)
features from 9907_1981 i:1, j:98


(1049, 7, 12) (1,)
features from 9931_17578 i:1, j:99


(993, 7, 12) (1,)
features from 10093_6151 i:1, j:100


(946, 7, 12) (4,)
features from 10255_9451 i:1, j:101


(884, 7, 12) (3,)
features from 10339_13237 i:1, j:102


(883, 7, 12) (2,)
features from 10732_24130 i:1, j:103


(898, 7, 12) (2,)
features from 10768_298 i:1, j:104


(862, 7, 12) (3,)
features from 10996_10132 i:1, j:105


(914, 7, 12) (5,)
features from 11389_4009 i:1, j:106


(933, 7, 12) (1,)
features from 11476_21619 i:1, j:107


(917, 7, 12) (1,)
features from 11575_3391 i:1, j:108


(992, 7, 12) (3,)
features from 11899_13159 i:1, j:109


(1005, 7, 12) (1,)
features from 11962_16987 i:1, j:110


(870, 7, 12) (5,)
features from 11977_17332 i:1, j:111


(1064, 7, 12) (1,)
features from 11980_6088 i:1, j:112


(912, 7, 12) (3,)
features from 11989_6601 i:1, j:113


(1147, 7, 12) (1,)
features from 12259_3964 i:1, j:114


(865, 7, 12) (7,)
features from 12304_4792 i:1, j:115


(846, 7, 12) (1,)
features from 12328_22102 i:1, j:116


(842, 7, 12) (2,)
features from 12379_1636 i:1, j:117


(919, 7, 12) (1,)
features from 12424_12541 i:1, j:118


(988, 7, 12) (1,)
features from 12520_7897 i:1, j:119


(959, 7, 12) (1,)
features from 12730_8431 i:1, j:120


(897, 7, 12) (2,)
features from 12766_14611 i:1, j:121


(1130, 7, 12) (1,)
features from 12775_9916 i:1, j:122


(1152, 7, 12) (2,)
features from 12877_22522 i:1, j:123


(1092, 7, 12) (7,)
features from 13018_23749 i:1, j:124


(930, 7, 12) (1,)
features from 13018_7591 i:1, j:125


(1033, 7, 12) (2,)
features from 13129_19186 i:1, j:126


(990, 7, 12) (1,)
features from 13432_7204 i:1, j:127


(1022, 7, 12) (1,)
features from 13660_25093 i:1, j:128


(904, 7, 12) (6,)
features from 13927_22924 i:1, j:129


(1102, 7, 12) (3,)
features from 13939_11092 i:1, j:130


(1120, 7, 12) (1,)
features from 14260_4780 i:1, j:131


(978, 7, 12) (2,)
features from 14368_15940 i:1, j:132


(1118, 7, 12) (1,)
features from 14527_7321 i:1, j:133


(819, 7, 12) (1,)
features from 14623_8203 i:1, j:134


(954, 7, 12) (1,)
features from 14740_19222 i:1, j:135


(946, 7, 12) (1,)
features from 14869_23599 i:1, j:136


(911, 7, 12) (6,)
features from 15133_24859 i:1, j:137


(887, 7, 12) (1,)
features from 15175_23230 i:1, j:138


(797, 7, 12) (1,)
features from 15286_1321 i:1, j:139


(959, 7, 12) (2,)
features from 15298_4588 i:1, j:140


(893, 7, 12) (1,)
features from 15367_12052 i:1, j:141


(938, 7, 12) (1,)
features from 15553_12109 i:1, j:142


(979, 7, 12) (2,)
features from 15652_8386 i:1, j:143


(912, 7, 12) (1,)
features from 15703_667 i:1, j:144


(1046, 7, 12) (1,)
features from 15772_14518 i:1, j:145


(1032, 7, 12) (4,)
features from 15823_26143 i:1, j:146


(890, 7, 12) (3,)
features from 16027_15634 i:1, j:147


(861, 7, 12) (2,)
features from 16084_23074 i:1, j:148


(1094, 7, 12) (1,)
features from 16486_20461 i:1, j:149


(1061, 7, 12) (2,)
features from 16504_13444 i:1, j:150


(859, 7, 12) (1,)
features from 16744_5419 i:1, j:151


(840, 7, 12) (4,)
features from 16747_400 i:1, j:152


(982, 7, 12) (1,)
features from 16771_6505 i:1, j:153


(845, 7, 12) (2,)
features from 17167_1843 i:1, j:154


(886, 7, 12) (1,)
features from 17185_5674 i:1, j:155


(1034, 7, 12) (1,)
features from 17350_12706 i:1, j:156


(721, 7, 12) (0,)
features from 17392_16759 i:1, j:157


(1051, 7, 12) (6,)
features from 17440_6772 i:1, j:158


(1167, 7, 12) (6,)
features from 17446_5809 i:1, j:159


(1085, 7, 12) (2,)
features from 17518_9208 i:1, j:160


(1057, 7, 12) (3,)
features from 17638_20662 i:1, j:161


(1012, 7, 12) (1,)
features from 17665_18751 i:1, j:162


(937, 7, 12) (1,)
features from 17731_24073 i:1, j:163


(1169, 7, 12) (1,)
features from 17899_10801 i:1, j:164


(841, 7, 12) (1,)
features from 17962_3343 i:1, j:165


(912, 7, 12) (2,)
features from 17992_20527 i:1, j:166


(829, 7, 12) (1,)
features from 18268_14539 i:1, j:167


(863, 7, 12) (1,)
features from 18514_6046 i:1, j:168


(953, 7, 12) (7,)
features from 18655_7177 i:1, j:169


(771, 7, 12) (1,)
features from 18724_1996 i:1, j:170


(1047, 7, 12) (1,)
features from 18928_23302 i:1, j:171


(954, 7, 12) (1,)
features from 19018_6571 i:1, j:172


(829, 7, 12) (2,)
features from 19045_24610 i:1, j:173


(917, 7, 12) (7,)
features from 19438_8782 i:1, j:174


(1081, 7, 12) (1,)
features from 19450_25906 i:1, j:175


(1108, 7, 12) (1,)
features from 19561_6895 i:1, j:176